body {
  background-color: rgb(201, 198, 237);
  font-family: sans-serif;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px;
  border-radius: 10px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
}

h1,
footer {
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

#open-source:hover {
  color: black;
}

#home-button {
  font-size: 14px;
  color: rgb(121, 104, 177);
  border: 1px solid rgb(121, 104, 177);
  padding: 2px 10px;
  border-radius: 7px;
  text-decoration: none;
  transition: all ease-in-out 300ms;
}

#home-button:hover {
  background-color: rgba(147, 120, 172, 0.541);
}

#open-source {
  color: rgb(121, 104, 177);
}

#icons {
  font-size: 10px;
  text-decoration: none;
  color: rgb(179, 155, 202);
  margin-left: 300px;
}

#clock-icon {
  display: block;
  margin: 0 auto;
}
